@charset "utf-8";

body {
    font-family: Arial, sans-serif;
}

.post {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.post-image {
width: 50px;
height: auto; /* 이미지 비율 유지 */
border-radius: 5px; /* 이미지 모서리 둥글게 */
}

.pagination-container {
text-align: center;
margin-top: 20px;
}

.pagination-container button {
margin: 20px;
padding: 10px 15px;
border: none;
color: rgb(0, 0, 0); /* 버튼 텍스트 색상 */
cursor: pointer;
border-radius: 5px; /* 버튼 모서리 둥글게 */
}

.pagination-container button:hover:not(.active) {
background-color: #949494; /* 버튼 호버 색상 */
}

.pagination-container button.active {
background-color: #333; /* 활성 버튼 색상 */
}

h1 {
    color: #2e2e2e;
    text-align: center;
    margin: 20px;
}
p {
    /* color: #2e2e2e; */
    text-align: center;
}

footer {
margin: 0;
padding: 0;
}

.cell-content {
padding: 10px; /* 패딩 추가 */
border-radius: 5px; /* 모서리 둥글게 */
background-color: #f9f9f9; /* 배경색 */
transition: background-color 0.3s; /* 부드러운 전환 효과 */
margin: 20px;
}

.cell-content:hover {
    background-color: #e2e2e2; /* 마우스 오버 시 배경색 변경 */
}

#wrap {
    min-height: 20vh;
    position: relative;
    width: 100%;
}

.footer {
    width: 100%;
    height: 110px;
    bottom: 0;
    position: absolute;
}
.header-image {
    background-image: url('운동화.png')!important; /* 배경 이미지 경로 설정 */
    background-color: black;
    background-size: cover; /* 이미지를 화면 크기에 맞춤 */
    background-position: center; /* 이미지를 가운데로 배치 */
    height: 400px; /* 헤더 이미지 높이 */
    position: relative; /* 텍스트를 겹치기 위해 relative로 설정 */
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-bottom: 100px;
}
/* 텍스트 설정 */
.overlay h1 {
    color: white; /* 흰색 텍스트 */
    font-size: 48px; /* 큰 글자 크기 */
    text-align: center; /* 가운데 정렬 */
    position: absolute; /* 절대 위치 */
    top: 50%; /* 화면의 중앙에 위치 */
    left: 50%;
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬을 위해 사용 */
    padding: 10px 20px; /* 텍스트 주위 여백 */
    border-radius: 8px; /* 모서리 둥글게 */
}